body {
    background: url(../imgs/2102.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
img {
    margin: 15em 13em 0 10em;
    width: 20%;
}
img:hover{
    animation-name: rotate;
    animation-duration: 1s;
    animation-direction: alternate;
}
@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
div {
    color: black
}
p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(85,107,47,.6);
    color: white;
    padding: 0px;
    margin: auto;
}
button {
    color: #84EDC4;
    background-color: darkolivegreen;
}
#feed button, #sleep button, #play button, #darkMode button {    
    font-size: 20px;
    width: 150px;
    border: 2px solid #372A2C;
    padding: 10px;
}
#feed button{
    position: fixed;
    bottom: 35px;
    left: 1%;
}
#sleep button{
    position: fixed;
    bottom: 35px;
    left: 12%;
}
#play button{
    position: fixed;
    bottom: 35px;
    left: 23%;
}
#start button {
    position: absolute;
    font-size: 20px;

}
#darkMode button {
    position: fixed;
    bottom: 35px;
    right: 10px;
}
#feed button{border-radius: 50%;}
#sleep button{border-radius: 50%;}
#play button{border-radius: 50%;}
#darkMode button{border-radius: 50%;}